.PathPage {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--bg-primary);
    margin-bottom: 20px;
}