.SwiperGrid {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 815px) {
        max-height: 1150px;
    }

    .swiper {
        width: 100%;
        height: 100%;
        padding: 10px 0;

        .swiper-slide {
            width: 100%;
            height: calc((100% - 10px) / 2);

            .CardBolder {
                height: 100%;
            }
        }
    }
}