.ArticleOurStore {
    display: grid;
    grid-template-rows: 55px 1fr;
    gap: 10px;
    overflow: hidden;

    >.cardShadow {
        border-radius: 4px;
        padding: 10px;
    }

    >nav,
    >footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }

    >nav {
        font-weight: 600;

        .icons {
            display: flex;
            align-items: center;
            gap: 4px;

            i {
                user-select: none;
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 4px;
                cursor: pointer;
                background-color: var(--bg-sub-primary);

                svg {
                    pointer-events: none;
                }

                &:hover,
                &.active {
                    background-color: var(--cr-primary);
                    color: #fff;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    transform: rotate(90deg);
                }
            }
        }

        .layoutProducts {
            display: flex;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 900px) {
                .icons {
                    display: none;
                }
            }
        }

        .icons.controle i {
            transform: rotate(0) !important;

            @media screen and (max-width: 900px) {
                padding: 10px;
            }
        }
    }

    >section {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;

        .swiper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                width: 100%;
            }
        }

        .swiper-pagination {
            display: none;
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none !important;
        }

        // swiper-pagination-current
        // swiper-pagination-total
    }
}