.CardBold {
    padding: 20px;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    perspective: 600px;

    .title {
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0;
    }

    .desc {
        font-size: 12px;
        color: var(--cr-text-muted);
    }

    .images {
        width: 100%;
        height: 220px;
        transform-style: preserve-3d;
        transition: .4s;
        position: relative;
        padding: 10px;

        .front,
        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;

            &.front {
                transform: rotateY(180deg);
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}